{% extends 'base.html' %}

{% block title %}
    Password Reset Complete
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

    <br/>
    <h2 align="center">Password Reset Complete</h2>
    <br/>
    <hr style="height:1px; margin: auto;">
    <br/>

    <br/>
    <p align="center">Your password has been reset.  You may log in now.</p>
    <br/>

    <div style="margin: auto; text-align: center;">
        <a href="{% url 'home' %}"><button class="btn btn-primary" style="width: 40%; margin: auto;" 
                type="button">Log In</button></a>
    </div>
 
    <br/>
    <hr style="height:1px; margin: auto;">

{% endblock %}