{% extends 'base.html' %}

{% load humanize %}

{% block title %}
    ${{ bitcoin_price|floatformat:2|intcomma }} - Add Coin
{% endblock %}

{% block content %}

{% if user.is_authenticated %}

    <br/>
    <h2 align="center">Add Coin</h2>
    <br/>
    <hr style="height:1px; margin: auto;">
    <br/>

    <div class="form-group" style="width: 50%; height: 100%; margin: auto;">
        <form action="#" method="POST">
        {% csrf_token %}
        
        <div class="mb-3">
            Coin: {{ form.name }}
        </div>
        <div class="mb-3">
            Amount: {{ form.amount }}
        </div>
        <div class="mb-3">
            Custom Price: (Leave blank for current price){{ form.custom_price }}
        </div>

        <br/>
        <hr style="height:1px; margin: auto;">
        <br/>
        
        <div class="mb-3">
            <button type="submit" class="btn btn-primary" style="width: 100%; height: 100%;">Add</button>
        </div>
        </form>
    </div>

    </br>

{% else %}
    <div style="margin: auto; text-align: center;">Log in to continue</div>
    <br/>
    <div class="mb-3">
        <a class="btn btn-primary" style="width: 100%; height: 100%;" href="{% url 'login' %}" role="button">Log In</a>
    </div>
{% endif %}

<div id="center-content" style="width: 60%;">
<a href="https://www.publish0x.com/publish0x-official-blog/welcome-to-publish0x-xej?a=oQeZVWD6ep&tid=Ledger" target="_blank">
  <img src="https://tmdstudios.files.wordpress.com/2021/04/publish0xbannersmstill.png" 
  style="max-width: 100%" title="Publish0x" alt="Publish0x" />
</a>
</div>

{% endblock %}