{% extends 'base.html' %}

{% load humanize %}

{% block title %}
    ${{ bitcoin_price|floatformat:2|intcomma }} - Coin Details
{% endblock %}


{% block content %}

<br/>
<h2 align="center">Coin Details</h2>
<br/>
<hr style="height:1px; margin: auto;">
<br/>

{% if user.is_authenticated %}

<div align='center'>
    <div class="nomics-ticker-widget" data-name={{ name }} data-base={{ symbol }} data-quote="USD"></div>
    <script src="https://widget.nomics.com/embed.js"></script>
</div>
    
    <br/>
    <div style="margin: auto; text-align: center; width: 100%; height: 100%; overflow-x: auto;">
        {% if dark_mode %}
        <table class="table table-dark table-bordered table-striped width: 100%; height: 100%;">
        {% else %}
        <table class="table table-bordered table-striped width: 100%; height: 100%;">
        {% endif %}
            <th style="margin: auto; text-align: center; width: 10vw;">Coin Name</th>
            <th style="margin: auto; text-align: center; width: 10vw;">Total Amount</th>
            <th style="margin: auto; text-align: center; width: 10vw;">Total Value</th>
            <th style="margin: auto; text-align: center; width: 10vw;">Purchase Price</th>
            <th style="margin: auto; text-align: center; width: 10vw;">Current Price</th>
            <th style="margin: auto; text-align: center; width: 10vw;">Trend</th>
            <th style="margin: auto; text-align: center; width: 10vw;">Delete</th>
            {% for coin in coins %}
                {% if coin.owner == user %}
                    {% if coin.sold %}
                        <tr class="align-middle">
                            <td scope="col" style="margin: auto; text-align: center;"><a>{{ coin.name }}</a></td>
                            
                            {% if coin.gain > 0 %}
                                <td colspan="5" scope="col" id="gain" style="margin: auto; text-align: center;"><a>
                                    Sold {{ coin.sell_amount }} at {{ coin.sell_price|floatformat:2|intcomma }}
                                    - Profit ${{ coin.gain|floatformat:2|intcomma }}
                                </a></td>
                            {% elif coin.gain == 0 %}
                                <td colspan="5" scope="col" style="color:gold; margin: auto; text-align: center;"><a>
                                    Sold {{ coin.sell_amount }} at {{ coin.sell_price|floatformat:2|intcomma }}
                                    - Broke Even
                                </a></td>
                            {% else %}
                                <td colspan="5" id="loss" scope="col" style="margin: auto; text-align: center;"><a>
                                    Sold {{ coin.sell_amount }} at {{ coin.sell_price|floatformat:2|intcomma }}
                                    | Loss: $
                                    {% if coin.gain %}
                                        {{ coin.gain|floatformat:2|intcomma }}
                                    {% else %}
                                        0
                                    {% endif %}
                                </a></td>
                            {% endif %}
                            <td scope="col" style="margin: auto; text-align: center;"><a>
                                <a class="btn btn-outline-light btn-sm" style="width: 100%; height: 80%;" 
                                href="{% url 'delete-coin' coin.id %}" role="button">Delete</a>
                            </a></td>
                        </tr>
                    {% elif coin.merged %}
                    <tr class="align-middle">
                        <td scope="col" style="margin: auto; text-align: center;"><a>{{ coin.name }}</a></td>
                        <td colspan="5" scope="col" style="margin: auto; text-align: center;"><a>
                            {% if coin.custom_price %}
                                Coin Merged | Original Purchase {{ coin.amount }} 
                                at ${{ coin.custom_price|floatformat:2|intcomma }}
                            {% else %}
                                Coin Merged | Original Purchase {{ coin.amount }} 
                                at ${{ coin.purchase_price|floatformat:2|intcomma }}
                            {% endif %}
                        </a></td>
                        <td scope="col" style="margin: auto; text-align: center;"><a>
                            <a class="btn btn-outline-light btn-sm" style="width: 100%; height: 80%;" 
                            href="{% url 'delete-coin' coin.id %}" role="button">Delete</a>
                        </a></td>
                    </tr>
                    {% else %}
                        <tr class="align-middle">
                            <td scope="col" style="margin: auto; text-align: center;"><a>{{ coin.name }}</a></td>
                            <td scope="col" style="margin: auto; text-align: center;"><a>{{ coin.total_amount }}</a></td>
                            <td scope="col" style="margin: auto; text-align: center;"><a>
                                ${{ coin.total_value|floatformat:2|intcomma }}
                            </a></td>
                            <td scope="col" style="margin: auto; text-align: center;"><a>
                                {{ coin.purchase_price|floatformat:2|intcomma }}
                            </a></td>
                            <td scope="col" style="margin: auto; text-align: center;"><a>
                                {{ coin.current_price|floatformat:2|intcomma }}
                            </a></td>
                            {% if coin.price_difference > 0 %}
                                <td scope="col" id="gain" style="margin: auto; text-align: center;"><a>
                                    {{ coin.price_difference|floatformat:2|intcomma }} %
                                </a></td>
                            {% else %}
                                <td scope="col" id="loss" style="margin: auto; text-align: center;"><a>
                                    {{ coin.price_difference|floatformat:2|intcomma }} %
                                </a></td>
                            {% endif %}
                            <td scope="col" style="margin: auto; text-align: center;"><a>
                                <a class="btn btn-outline-secondary btn-sm" style="width: 100%; height: 80%;" 
                                href="#" role="button">Delete</a>
                            </a></td>
                        </tr>
                    {% endif %}
                {% endif %}
                
            {% endfor %}
            <tr class="align-middle">
            <td scope="col" style="margin: auto; text-align: center;">
                {% if coins.has_previous %}
                    <a href="{% url 'coin-details' id %}?page={{ coins.previous_page_number }}">
                    <button class="btn btn-primary btn-sm" style="width: 100%; margin: auto;" 
                    type="button">Previous</button></a>
                {% else %}
                    <a href="#">
                    <button class="btn btn-secondary btn-sm" style="width: 100%; margin: auto;" 
                    type="button">Previous</button></a>
                {% endif %}
            </td>
            <td colspan="5" scope="col" style="margin: auto; text-align: center;">
                <form action='.' method='POST'>{% csrf_token %}
                Transactions Per Page: 
                {{ form.transaction_view }} <input type="submit" value="Refresh"> 
                </form>
            </td>
            <td scope="col" style="margin: auto; text-align: center;">
                {% if coins.has_next %}
                    <a href="{% url 'coin-details' id %}?page={{ coins.next_page_number }}">
                    <button class="btn btn-primary btn-sm" style="width: 100%; margin: auto;" 
                    type="button">Next</button></a>
                {% else %}
                    <a href="#">
                    <button class="btn btn-secondary btn-sm" style="width: 100%; margin: auto;" 
                    type="button">Next</button></a>
                {% endif %}
            </td>
            </tr>
        </table>
    </div>
    
{% else %}
    <div style="margin: auto; text-align: center;">Log in to continue</div>
    <br/>
    <div class="mb-3">
        <a class="btn btn-primary" style="width: 100%; height: 100%;" href="{% url 'login' %}" role="button">Log In</a>
    </div>
{% endif %}
    
{% endblock %}
