{% extends 'base.html' %}

{% block title %}
    Settings
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <br/>
    <h2 align="center">Settings</h2>
    <br/>
    <hr style="height:1px; margin: auto;">
    <br/>
    <div style="margin: auto; text-align: center;">
        Check all coins you would like to see in the ticker.</br>
        Leaving all coins unchecked will show all coins.
    </div>
    <br/>
    <hr style="height:1px; margin: auto;">
    <br/>

    {% comment %} <div style="width: 100%; height: 30%;">
        <form action="." method="POST">
            {% csrf_token %}
            {% for item in form %}
                {{ item }}
            {% endfor %}
            <input type="submit" value="Submit" class="btn btn-primary" style="width: 20%; height: 100%;">
        </form>
    </div> {% endcomment %}

    <div style="width: 100%; height: 30%;">
        <form action="." method="POST">
            {% csrf_token %}
            <table class="table table-borderless">
                <tr>
                    {% for item in form.ticker_prices %}
                        {% if forloop.counter0 < 5 %}
                            <td style="margin: auto; text-align: center; color: snow;">
                                <span style="font-size: large;"> {{ item }} </span>
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    {% for item in form.ticker_prices %}
                        {% if forloop.counter0 > 4 and forloop.counter0 < 10 %}
                            <td style="margin: auto; text-align: center; color: snow;">
                                <span style="font-size: large;"> {{ item }} </span>
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    {% for item in form.ticker_prices %}
                        {% if forloop.counter0 > 9 and forloop.counter0 < 15 %}
                            <td style="margin: auto; text-align: center; color: snow;">
                                <span style="font-size: large;"> {{ item }} </span>
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    {% for item in form.ticker_prices %}
                        {% if forloop.counter0 > 14 and forloop.counter0 < 20 %}
                            <td style="margin: auto; text-align: center; color: snow;">
                                <span style="font-size: large;"> {{ item }} </span>
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    {% for item in form.ticker_prices %}
                        {% if forloop.counter0 > 19 and forloop.counter0 < 25 %}
                            <td style="margin: auto; text-align: center; color: snow;">
                                <span style="font-size: large;"> {{ item }} </span>
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    {% for item in form.ticker_prices %}
                        {% if forloop.counter0 > 24 and forloop.counter0 < 30 %}
                            <td style="margin: auto; text-align: center; color: snow;">
                                <span style="font-size: large;"> {{ item }} </span>
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    {% for item in form.ticker_prices %}
                        {% if forloop.counter0 > 29 and forloop.counter0 < 35 %}
                            <td style="margin: auto; text-align: center; color: snow;">
                                <span style="font-size: large;"> {{ item }} </span>
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    {% for item in form.ticker_prices %}
                        {% if forloop.counter0 > 35 and forloop.counter0 < 40 %}
                            <td style="margin: auto; text-align: center; color: snow;">
                                <span style="font-size: large;"> {{ item }} </span>
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    {% for item in form.ticker_prices %}
                        {% if forloop.counter0 > 39 and forloop.counter0 < 45 %}
                            <td style="margin: auto; text-align: center; color: snow;">
                                <span style="font-size: large;"> {{ item }} </span>
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            </table>
            <input type="submit" value="Submit" class="btn btn-primary" style="width: 100%; height: 100%;">
        </form>
    </div>
    

    {% comment %} {{ ticker_prices }} {% endcomment %}

{% else %}
    How did you get here?
{% endif %}

{% endblock %}