* {
    margin: 0;
}
html,body,span,tbody,tfoot,thead,tr,th,td {
    background: #000000; 
    font-family: 'Lato', helvetica, arial, sans-serif; 
    font-size: 16px; 
    color: rgb(228, 228, 228);
}
#broke-even {
    color: gold;
}
#loss {
    color: red;
}
#gain {
    color: chartreuse;
}
#plain-font {
    color: rgb(228, 228, 228);
    font-size: x-large; 
    padding-right: 5px;
}
#coin-symbol {
    font-size: 20px; 
    font-family: monospace, monospace;
}
#active-coin-table-head {
    margin: auto; 
    text-align: center; 
    width: 10vw;
}
#all-prices-table-head {
    margin: auto; 
    text-align: center; 
    width: 10vw;
}
#all-prices-table-head-contents {
    width: 10vw; 
    margin: auto; 
    font-size: large
}
#center-content {
    margin: auto; 
    text-align: center;
}
.logo {
    box-shadow: 0 0 0 0 rgb(87, 114, 187);
    transition: 0.2s;
    border-radius: 8px;
}

.logo:hover {
    box-shadow: 0 0 12px 0 rgb(137, 181, 248);
}
.link-light {
    color: rgb(228, 228, 228);
}
.btn-outline-light{
    color: rgb(228, 228, 228);
}