{% extends 'base.html' %}

{% block title %}
    Password Reset Sent
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

    <br/>
    <h2 align="center">Password Reset Sent</h2>
    <br/>
    <hr style="height:1px; margin: auto;">
    <br/>

    <br/>
    <p align="center">Password reset email has been sent.</p>
    <p align="center">If you have not received an email, please make sure you have entered it correctly.  You may also need
    to check your spam folder.</p>
    <br/>

    <div style="margin: auto; text-align: center;">
        <a href="{% url 'home' %}"><button class="btn btn-primary" style="width: 40%; margin: auto;" 
                type="button">Home</button></a>
    </div>
 
    <br/>
    <hr style="height:1px; margin: auto;">

{% endblock %}