{% extends 'base.html' %}

{% block title %}
    Registration
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

    <br/>
    <h2 align="center">Register</h2>
    <br/>
    <hr style="height:1px; margin: auto;">
    <br/>

    <div class="form-group" style="width: 50%; height: 100%; margin: auto;">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form|crispy }}
            <!-- {{ form.as_table }} -->
            <button class="btn btn-primary" style="width: 100%; height: 100%;">Register</button>
        </form>
    </div>

    <br/>
    <br/>
    <hr style="height:1px; margin: auto;">
    

{% endblock %}